<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
</head>
<body>


Busca: <input type="search" ng-model="busca">
  <div ng-controller="CtrlLista">
    
    <select ng-model="selected" ng-options="pessoa.nome for pessoa in pessoas | filter:busca">
      <option value="">Selecione alguém:</option>
    </select>

    <hr>
    <div>
      <p><strong>Nome:</strong> <input type="text" ng-model="selected.nome"></p>
      <p><strong>Cidade:</strong> <input type="text" ng-model="selected.cidade"></p>
    </div> 
  </div>

<script>
(function(angular){
    'use strict';
    //cria a aplicacao
    var myApp = angular.module('myApp',[]);
    //cria o controller
    myApp.controller('CtrlLista',function($scope){

        $scope.pessoas = [
            {nome: 'Maria', cidade: 'São Paulo'},
            {nome: 'Julia', cidade: 'São Paulo'},
            {nome: 'Flávia', cidade: 'Rio de Janeiro'}
        ];

    });

})(window.angular);
</script>
</body>
</html>